.basketBook{
  width: 80%;
  margin-left:10%;
  margin-bottom:1%;
  padding: 0; 
  display: flex;
  align-items: center;
  align-content: center;
}
.mat-card-content{
  width: 25%;
  margin:0;
}
.action {
  display: none;
}
.authorName{
  display: flex;
  flex-direction: column;
}
.counter{
  width: 15%;
  border:0;
  text-align: center;
}

.formOtpr{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}


