<header>
  <label [routerLink]="['/books']">BOOKSTORE</label>
  <button [routerLink]="['/basketbooks']" mat-icon-button class="basket">
      <mat-icon style="color: white">shopping_cart</mat-icon><sup>{{basketService.booksLength()}}</sup>
  </button>
</header>
  <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/books']">BOOKS</button>
  <button mat-menu-item [routerLink]="['/authors']">AUTHORS</button>
</mat-menu> -->
<div>
  <router-outlet></router-outlet>
</div>


